@media (max-width: 768px) {
  button.list-active {
    display: block;
  }

  #navbar {
    width: 100%;
    justify-content: space-between;
  }

  #navbar > .list-container {
    display: none;
  }

  #navbar > h1 {
    margin-left: 15px;
  }

  #sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 0;
    width: 120px;  /* Will be 30% with js*/
    height: 100vh;
    z-index: 10;
    background-color: var(--ducky-yellow);
    transition: all 0.2s ease-in;
  }

  #sidenav > * {
    visibility: visible;
  }

  #sidenav > button {
    width: 40px;
  }

  #sidenav > ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  #sidenav > ul > li {
    list-style: none;
  }

  #sidenav > ul > li > a {
    text-decoration: none;
    font-size: 12px;
    font-family: var(--share-tech-mono);
    font-weight: bold;
    color: var(--smoky-black);
  }

  .intro > .intro-content > .text-container > h1 {
    font-size: 1.3rem;
  }

  #plans > .content > section {
    flex-direction: column;
    gap: 30px;
  }

  #about-us > .content,
  #services > .content
  {
    flex-direction: column;
  }

  #about-us > .content {
    align-items: center;
  }
  
  #about-us > .content > .text-container {
    padding: 0;
    text-align: center;
  }

  .logo-text {
    padding: 0;
  }
}
